.wrapper {
    margin-top: 60px;  
    display: flex;
    flex-direction: column;
}
.list-products {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.pagination {
    /* width: 100%; */
    display: flex;
    justify-content: center;

}

.box-sort {
    display: flex;
}

.empty-product {
    display: flex;
    height: 500px;
}
