.wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  background: darkslateblue;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;

}

.search {
  width: 60%;
  height: 50%;
  display: flex;
  background-color: #fff;
  align-items: center;
  input {
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
  }
  button {
    width: 5%;
    border: none;
    background-color: #fff;
  }

}
